################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KikuTimer/v15/Server/sqlite3
/KikuTimer/KikuTimer.Android/obj
